<a href="https://colab.research.google.com/github/EdgarMCN/Aulas-de-GIT-public/blob/main/Teste1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

INPUT, PRINT

In [ ]:
nomePrimeiro = input("Digite o primeiro nome")
nomeDoMeio = input("Digite o segundo nome")
nomeUltimo = input("Digite o terceiro nome")
print(nomePrimeiro,nomeDoMeio,nomeUltimo + ",","seja muito bem vindo a DNC!")

Digite o primeiro nomeEverton
Digite o segundo nomeGarcia
Digite o terceiro nomeMenezes
Everton Garcia Menezes, seja muito bem vindo a DNC!

In [ ]:
cliente_nome = input("Digite o nome do cliente ")
cliente_idade = input("Digite a idade do cliente ")
print("O nome do cliente é",cliente_nome,"e a idade do cliente é",cliente_idade+".")

Digite o nome do cliente André
Digite a idade do cliente 35
O nome do cliente é André e a idade do cliente é 35.

In [ ]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [ ]:
print('aae'*4)

aaeaaeaaeaae

In [ ]:
a = 7
b = 8
print('o valor de a é {} e o de b é {}.'.format(a,b))
print(type(a))
print(type(str(a)))

o valor de a é 7 e o de b é 8.
<class 'int'>
<class 'str'>

STRING MANIPULATION

In [ ]:
nome='edgar'
sobrenome='carvalho'
nome1=nome.upper()
nome2=nome1.lower()
nome3=nome.capitalize()
nome4=nome+sobrenome.capitalize()
nome5=(nome+sobrenome).capitalize()
print(len(nome))
print(nome)
print(nome1)
print(nome2)
print(nome3)
print(nome4)
print(nome5)
print(nome)

5
edgar
EDGAR
edgar
Edgar
edgarCarvalho
Edgarcarvalho
edgar

IF, ELSE, ELIF

In [ ]:
media = float(input('Digite a média das notas.'))
if (media >= 9):
  print('Aprovado com louvor!')
elif(7 <= media <9 ):
  print('Aprovado!')
else:
  print('Reprovado!')

Digite a média das notas.9
Aprovado com louvor!

ISNUMERIC, ISALPHA, ISALNUM

In [ ]:
var1 = '45'
print(var1.isnumeric())
int(var1)
print(var1.isalpha())
print(var1.isalnum())

True
False
True

FOR, WHILE, BREAK

In [ ]:
for i in range(1,50,5):
  print(i)

1
6
11
16
21
26
31
36
41
46

In [ ]:
i=0
while i<=5:
  print(i)
  i+=1

0
1
2
3
4
5

In [ ]:
i=0
while i>=0:
  print(i)
  i=i+1
  if(i>=7):
    break

0
1
2
3
4
5
6

LISTAS E TUPLAS

In [ ]:
#TUPLAS NÃO PODEM SER MUDADAS
tupla = (0,'palavra',35,True,7)
print(len(tupla))
print(tupla[0])
print(tupla[1:3])
print(tupla[1:])
print(tupla[:3])
print(tupla[-1])
print(tupla[-2])
print(type(tupla))
print(type(tupla[3]))
for i,j in enumerate(tupla):
  print('Na posição',i,'da tupla temos o valor',j,'.')

5
0
('palavra', 35)
('palavra', 35, True, 7)
(0, 'palavra', 35)
7
True
<class 'tuple'>
<class 'bool'>
Na posição 0 da tupla temos o valor 0 .
Na posição 1 da tupla temos o valor palavra .
Na posição 2 da tupla temos o valor 35 .
Na posição 3 da tupla temos o valor True .
Na posição 4 da tupla temos o valor 7 .

In [5]:
tupla = (0,9,5,3,0)
t = ('qww',False,0)
print(sorted(tupla))
print(tupla.count(0))
print(tupla.count(9))
print(t+tupla)
print(tupla.index(0))
print(tupla.index(9))
print(tupla.index(0,2))
for x in enumerate(tupla):
  print(x)
for x,y in enumerate(tupla):
  print(x,y)

[0, 0, 3, 5, 9]
2
1
('qww', False, 0, 0, 9, 5, 3, 0)
0
1
4
(0, 0)
(1, 9)
(2, 5)
(3, 3)
(4, 0)
0 0
1 9
2 5
3 3
4 0

In [ ]:
#LISTAS PODEM SER MUDADAS
lista = [0,'palavra',35,True,7]
lista[4]='8'
lista.append(9)
lista.insert(1,'aaa')
print(len(lista))
print(lista)
print(lista[0])
print(lista[1:3])
print(lista[1:])
print(lista[:3])
print(lista[-1])
print(lista[-2])
print(type(lista))
print(type(lista[3]))
del lista[2]
print(lista)
c = lista.pop(2)
print(lista,c)
lista.remove('aaa')
print(lista)
for i,j in enumerate(lista):
  print('Na posição',i,'da tupla temos o valor',j,'.')

7
[0, 'aaa', 'palavra', 35, True, '8', 9]
0
['aaa', 'palavra']
['aaa', 'palavra', 35, True, '8', 9]
[0, 'aaa', 'palavra']
9
8
<class 'list'>
<class 'int'>
[0, 'aaa', 35, True, '8', 9]
[0, 'aaa', True, '8', 9] 35
[0, True, '8', 9]
Na posição 0 da tupla temos o valor 0 .
Na posição 1 da tupla temos o valor True .
Na posição 2 da tupla temos o valor 8 .
Na posição 3 da tupla temos o valor 9 .

In [2]:
lista = [0,9,5,3,0]
t = ['qww',False,0]
print(lista)
print(lista.count(0))
print(lista.count(9))
print(t+lista)
print(lista.index(0))
print(lista.index(9))
print(lista.index(0,2))
print(sorted(lista))
lista.sort
print(lista)
lista.sort(reverse=True)
print(lista)

[0, 9, 5, 3, 0]
2
1
['qww', False, 0, 0, 9, 5, 3, 0]
0
1
4
[0, 0, 3, 5, 9]
[0, 9, 5, 3, 0]
[9, 5, 3, 0, 0]

In [ ]:
#Copiando e clonando listas
A = list(range(1,10,2))
B = A
C = A[:]
del A[3]
print(A)
print(B)
print(C)

[1, 3, 5, 9]
[1, 3, 5, 9]
[1, 3, 5, 7, 9]

DICIONÁRIOS

In [ ]:
#DICIONÁRIOS

dicio={'amarelo':22,'verde':3,'azul':15}
print(dicio['amarelo'],dicio['verde'])
print(dicio)
dicio['amarelo']=23
dicio['vermelho']=5
print(dicio)
print(dicio.keys())
print(dicio.values())
print(dicio.items())
del dicio['vermelho']
print(dicio)
for i in dicio.keys():
  print(i)
for i,j in dicio.items():
  print(f'A chave {i} corresponde ao valor {j}.')

22 3
{'amarelo': 22, 'verde': 3, 'azul': 15}
{'amarelo': 23, 'verde': 3, 'azul': 15, 'vermelho': 5}
dict_keys(['amarelo', 'verde', 'azul', 'vermelho'])
dict_values([23, 3, 15, 5])
dict_items([('amarelo', 23), ('verde', 3), ('azul', 15), ('vermelho', 5)])
{'amarelo': 23, 'verde': 3, 'azul': 15}
amarelo
verde
azul
A chave amarelo corresponde ao valor 23.
A chave verde corresponde ao valor 3.
A chave azul corresponde ao valor 15.

In [ ]:
#DICIONÁRIOS EM LISTAS
nomes=[]
lista=[]
dicio={}
n=int(input('Digite o número de alunos da turma '))
for i in range(1,n+1):
  dicio['nome']=input('Digite o nome do {i}º aluno ')
  nota1=float(input('Digite a nota da primeira unidade do {i}º aluno '))
  dicio['nota1']=nota1
  nota2=float(input('Digite a nota da segunda unidade do {i}º aluno '))
  dicio['nota2']=nota2
  media=(nota1+nota2)/2
  dicio['media']=media
  lista.append(dicio.copy())
print(lista)

Digite o número de alunos da turma 3
Digite o nome do {i}º aluno Marcelo
Digite a nota da primeira unidade do {i}º aluno 5
Digite a nota da segunda unidade do {i}º aluno 7
Digite o nome do {i}º aluno João
Digite a nota da primeira unidade do {i}º aluno 4
Digite a nota da segunda unidade do {i}º aluno 8
Digite o nome do {i}º aluno Maria
Digite a nota da primeira unidade do {i}º aluno 5
Digite a nota da segunda unidade do {i}º aluno 9
[{'nome': 'Marcelo', 'nota1': 5.0, 'nota2': 7.0, 'media': 6.0}, {'nome': 'João', 'nota1': 4.0, 'nota2': 8.0, 'media': 6.0}, {'nome': 'Maria', 'nota1': 5.0, 'nota2': 9.0, 'media': 7.0}]